body {
	margin: 0;
	padding: 0
}

.container-fluid {
	margin-top: -32px;
	padding: 0
}

.row {
	width: 100%;
	margin: 0;
}

header {
	width: 100%;
	/* background: url(./img/header_img.jpg); */

}

.nav-top {
	width: 100%;
	padding: 1.5em 2em 1.5em 2em;
	background-color: white;
	-webkit-box-shadow: 0px -3px 25px 0px rgba(158,158,158,0.2);
	-moz-box-shadow: 0px -3px 25px 0px rgba(158,158,158,0.2);
	box-shadow: 0px -3px 25px 0px rgba(158,158,158,0.2);
}


@media only screen and (max-width:480px) {
	.nav-top {
		display: block
	}
	.btn-language{
		text-decoration: none !important;
		color: #0B3C5D !important;
		border: none;
		font-family: 'Work Sans';
		font-weight: 300;
	}
	#logo{
		width: 100px;
	}
}

@media (min-width: 768px){
	.navbar-expand-md .navbar-collapse {
		display: flex!important;
		justify-content: flex-end;
		flex-basis: auto;
}
}

.nav-top ul {
	margin: 0.6em 2em 0.6em 10em;
}

.nav-top ul li {
	display: inline;
	font-size: 0.9em;
	padding-right: 1em;
	padding-left: 1em;
}

.nav-top ul li a {
	display: inline-block;
	color: #0B3C5D !important;
	font-family: 'Work Sans';
	font-weight: 300;
	text-decoration: none;
}

.nav-top ul li a:hover {
	color: #0B3C5D !important;
	border: none;
	font-family: 'Work Sans';
	font-weight: 600;
	text-decoration: none;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s
}

.nav-top ul li a:active {
	color: #0B3C5D !important;
	border: none;
	font-family: 'Work Sans';
	font-weight: 600;
	text-decoration: none;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s
}

.language-container{
	padding-right: 5em;
}

.btn-language{
	display: inline;
	font-size: 0.9em;
	padding-right: 2em;
	margin-right: .5em;
	text-decoration: none !important;
	color: #0B3C5D !important;
	border: none;
	font-family: 'Work Sans';
	font-weight: 300;
	text-decoration: none;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.btn-language:hover{
	color: #0B3C5D !important;
	border: none;
	font-family: 'Work Sans';
	font-weight: 600;
	text-decoration: none;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s
}


h1 {
	width: 100%;
	font-family: "Steinbeck";
	font-size: 2.4em;
	color: #ffff;
	text-align: center;
	padding: 5em 0 3em 0;
	line-height: 1.2em;
	text-shadow: 0 0 3px #0000, 0 0 5px #363636;
}

@media only screen and (max-width:480px) {
	h1 {
		font-size: 1.5em
	}
}

h2 {
	font-family: "NotoLight";
	margin-bottom: 1em
}


.intro {
	background: #ffff;
	color: #0B3C5D;
	padding: 4em 3em 4em 6em;
	text-align: center;
}

.intro-img{
	width:60%;
}

.cuadrado{
	display:relative;
	background-color:#0EB9CB;
	opacity: 0.5;
	width:100%;
	height:60vh;
	position:absolute;
	z-index: 1
}

.intro-img:hover .cuadrado{
	display: block;
}
  

.square-img{
	object-fit: cover;
    object-position: center;
    width: 300px;
    height: 300px;
	padding: 1em
}

.square-img-brands{
	object-fit: cover;
    object-position: center;
    width: 100px;
    height: 100px;
	padding: 1em
}

.products {
	width: 100%;
	background: #f9f9f9;
	margin-bottom: 3em;
	color: #0B3C5D;
	text-align: center;
}

.product-title {
	width: 100%;
	font-family: "Steinbeck";
	font-size: 2em;
	color: #0B3C5D;
	text-align: center;
}

.footer-title{
	width: 100%;
	font-family: "Steinbeck";
	font-size:2.5em;
	color: #ffff;
	text-align: center;
	line-height: 1.2em;
	text-shadow: 0 0 3px #0000, 0 0 5px #363636;
}

.footer-text{
	width: 100%;
	font-family: "Work Sans";
	font-weight: 300;
	font-size: 1.5em;
	color: #ffff;
	text-align: center;
	line-height: 1.2em;
	text-shadow: 0 0 3px #0000, 0 0 5px #363636;
} 

.footer-btn {
	font-family: "Work Sans";
	font-weight: 400;
	border-width: 2px;
	width: max-content;
	border-color: #ffff;
	color: white;
  }
  
.footer-btn:hover {
	background-color: #ffff;
	color: #0B3C5D;
  }

.col-footer {
	width: 50%;
	margin: 0;
}

.btn-footer{
	display: inline;
	text-align: left;
	font-size: 0.9em;
	padding-right: 2em;
	margin-right: .5em;
	text-decoration: none !important;
	color: #0B3C5D !important;
	border: none;
	font-family: 'Work Sans' !important;
	font-weight: 300;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.btn-language:hover{
	color: #0B3C5D !important;
	border: none;
	font-family: 'Work Sans';
	font-weight: 600;
	text-decoration: none;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
