/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}


body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	overflow-x: hidden !important;
	position: relative;
}

.container-fluid {
	margin-top: -32px;
	padding: 0
}

.row {
	width: 100%;
	margin: 0;
	--bs-gutter-x: 0;
}

.hero {
	width: 100%;
	height: 80vh !important; 
	background-size:cover !important; 
}

.nav-top {
	width: 100%;
	padding: 1.5em 2em 1.5em 2em;
	background-color: white;
	-webkit-box-shadow: 0px -3px 25px 0px rgba(158,158,158,0.2);
	-moz-box-shadow: 0px -3px 25px 0px rgba(158,158,158,0.2);
	box-shadow: 0px -3px 25px 0px rgba(158,158,158,0.2);
}


.nav-top ul {
	margin: 0.6em 2em 0.6em 10em;
}

.nav-top ul li {
	display: inline;
	font-size: 1em;
	padding-right: 1em;
	padding-left: 1em;
}

.nav-top ul li a {
	display: inline-block;
	color: #0B3C5D !important;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 300;
	text-decoration: none;
}

.nav-top ul li a:hover {
	color: #0B3C5D !important;
	border: none;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 600;
	text-decoration: none;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s
}

.nav-top ul li a:active {
	color: #0B3C5D !important;
	border: none;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 600;
	text-decoration: none;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s
}

.language-container{
	padding-right: 5em;
}

.btn-language{
	display: inline;
	font-size: 0.9em;
	padding-right: 2em;
	margin-right: .5em;
	text-decoration: none !important;
	color: #0B3C5D !important;
	border: none;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 300;
	text-decoration: none;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.btn-language:hover{
	color: #0B3C5D !important;
	border: none;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 600;
	text-decoration: none;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s
}


h1 {
	width: 100%;
	font-family: "Steinbeck";
	font-size: 2.4em;
	color: #ffff;
	text-align: center;
	padding: 5em 0 3em 0;
	line-height: 1.2em;
	text-shadow: 0 0 3px #0000, 0 0 5px #363636;
}



h2 {
	font-family: 'Work Sans', sans-serif;
	margin-bottom: 1em
}

.intro {
	background: #ffff;
	color: #0B3C5D;
	padding: 4em 3em 4em 6em;
	text-align: center;
}


.intro-paragraph{
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 300;
	font-size: 1.1em;
}

.intro-img{
	width:60%;
}

.cuadrado{
	display:relative;
	background-color:#0EB9CB;
	opacity: 0.5;
	width:100%;
	height:60vh;
	position:absolute;
	z-index: 1
}

.intro-img:hover .cuadrado{
	display: block;
}
  

.square-img{
	object-fit: cover;
    object-position: center;
    width: 300px;
    height: 300px;
	padding: 1em
}

.square-img-brands{
	object-fit: cover;
    object-position: center;
    width: 100px;
    height: 100px;
	padding: 1em
}

.products {
	width: 100%;
	background: #f9f9f9;
	margin-bottom: 3em;
	color: #0B3C5D;
	text-align: center;
}

.product-title {
	width: 100%;
	font-family: "Steinbeck";
	font-size: 2em;
	color: #0B3C5D;
	text-align: center;
}

.footer-title{
	width: 100%;
	font-family: "Steinbeck";
	font-size:2.5em;
	color: #ffff;
	text-align: center;
	line-height: 1.2em;
	text-shadow: 0 0 3px #0000, 0 0 5px #363636;
}

.footer-text{
	width: 100%;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	color: #ffff;
	text-align: center;
	line-height: 1.2em;
	text-shadow: 0 0 3px #0000, 0 0 5px #363636;
} 

.footer-btn {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	border-width: 2px;
	width: max-content;
	border-color: #ffff;
	color: white;
  }
  
.footer-btn:hover {
	background-color: #ffff;
	color: #0B3C5D;
  }

.col-footer {
	width: 50%;
	margin: 0;
}

.btn-footer{
	display: inline;
	text-align: left;
	font-size: 0.9em;
	padding-left: 2em;
	margin-left: 2em;
	text-decoration: none !important;
	color: #0B3C5D !important;
	border: none;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 300;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.btn-language:hover{
	color: #0B3C5D !important;
	border: none;
	font-family: 'Work Sans', sans-serif !important;
	font-weight: 600;
	text-decoration: none;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}


@media screen and (max-width: 990px){
	.nav-top {
		display: block
	}
	.btn-language{
		text-decoration: none !important;
		color: #0B3C5D !important;
		border: none;
		font-family: 'Work Sans', sans-serif !important ;
		font-weight: 300;
	}
	.hero{
		height: 50vh !important;
		justify-content: center;
	}
	p{
		margin-top: 5%;
	}
	
	.product-title{
		width: 100%;
		font-family: "Steinbeck" !important;
		font-size: 2em;
		color: #0B3C5D;
		text-align: center;	
	}
	h1 {
		width: 100%;
		font-family: "Steinbeck" !important;
		font-size: 1.4em;
		color: #ffff;
		text-align: center;
		padding: 5em 0 3em 0;
		line-height: 1.2em;
		text-shadow: 0 0 3px #0000, 0 0 5px #363636;
	}
	
	.intro{
		padding: 2.2em !important;
	}
	.intro-info{
		flex-flow: wrap-reverse !important;

	}
	#logo{
		width: 100px;
	}

	.intro-paragraph{
		font-family: 'Work Sans', sans-serif !important;
		font-weight: 300;
		font-size: 1em;
	}
	.intro-img{
		width: 300px !important;
		height: 300px !important;
		object-fit: cover;
		align-self: center;
	}
	.col-4 {
		flex: 0 0 auto;
		width: auto;
	}
	.footer{
		height: 40vh !important;
	}
	.footer-title{
		width: 100%;
		font-family: "Steinbeck";
		font-size:2.5em;
		color: #ffff;
		text-align: center;
		line-height: 1.2em;
		text-shadow: 0 0 3px #0000, 0 0 5px #363636;
	}
	.footer-text{
		font-size: 1.4em;
		line-height: 20px;
	}
	.btn-footer{
		margin-left:0 !important;
	}
}
/* 
@media (min-width: 990px){
	.navbar-expand-md .navbar-collapse {
		display: flex!important;
		justify-content: flex-end;
		flex-basis: auto;
	}
	.hero{
		height: 50vh;
	}
	p{
		margin-top: 5%;
	}
	.intro{
		padding: 2.2em !important;
	}
	 .intro-info{
		flex-flow: wrap-reverse !important;
		padding: 1em !important;

	} 
	#logo{
		width: 100px;
	}

	.intro-paragraph{
		font-size: 1em;
	}
	.intro-img{
		width: 300px !important;
		align-self: center;
	}
	.col-4 {
		flex: 0 0 auto;
		width: auto;
	}
} */